<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="2" parallel="tests" name="Suite">

 <!--<listeners> 

<listener class-name="parallelExecutionandDataListner.Transformerlisner"> </listener>

</listeners>-->
<parameter name = "browser" value="chrome"/>
  <test thread-count="2" parallel="tests" name="Test">
    <classes>
      <class name="stepDefinistions.StepDefinitionsLogin"/>
    </classes>
  </test> <!-- Test -->
  
    
   <parameter name = "browser" value="chrome"/>
   <test thread-count="2" parallel="tests" name="Test1">
    <classes>
      <class name="stepDefinistions.StepDefinitionsLogin"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
